@page "/productgrid"

@inherits ProductGridComponentViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-danger" @onclick="base.ShowAddProductDialogCommand">Add Product</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            @if (base.IsLoad == true)
            {

                @if (base.ErrorMessage == null)
                {
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped table-dark">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Unit Price</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var productModel in base.ListProducts)
                                {
                                    <tr>
                                        <td>@productModel.ProductName</td>
                                        <td>@productModel.UnitPrice</td>
                                        <td>
                                            <button class="btn btn-danger" @onclick="@(()=> base.OnEditCommand(productModel.ProductIdentity))">Edit</button>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger" @onclick="@(()=> base.OnDeleteCommand(productModel.ProductIdentity))">Delete</a>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <ErrorMessageComponent ErrorMessage="@base.ErrorMessage"></ErrorMessageComponent>
                }

            }
            else
            {
                <div>Loading...</div>
            }

            <AddProductComponent @ref="base.AddProductVM" RefreshEvent="base.RefreshStateCommand"></AddProductComponent>
            <EditProductComponent @ref="base.EditProductVM" SelectedProduct="base.SelectedProduct" RefreshEvent="base.RefreshStateCommand"></EditProductComponent>
            <DeleteProductComponent @ref="base.DeleteProductVM" SelectedProduct="base.SelectedProduct" RefreshEvent="base.RefreshStateCommand"></DeleteProductComponent>
        </div>
    </div>
</div>